<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="cList">

            <h1>Список клиентов</h1>
            <div id="1">
                <details open="close">
                    <table class="cList" border="1" >
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Номер счета</th>
                            <th>Сумма на счету</th>
                        </tr>
                        <tr th:each ="client : ${clients}">
                            <td th:utext="${client.getId()}">...</td>
                            <td th:utext="${client.getFirstName()}">...</td>
                            <td th:utext="${client.getAccountNumber()}">...</td>
                            <td th:utext="${client.getAmount()}">...</td>
                        </tr>
                    </table>
                </details>
            </div>

        </div>
    </body>
</html>