<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="head">

            <div id="header">
                <div class="hdrContainer">
                    <a class="logo" href='/joke'><img src="/image/logo.png" alt="" /></a>
                </div>
                <div class="topnav">
                    <a class="active" href="/transactionForm">Совершить новый перевод</a>
                    <a href="/history_transaction">Посмотреть историю переводов</a>
                </div>
            </div>

        </div>
    </body>
</html>